rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;
  background-image: url("https://github.com/favicon.ico");
}

text.mono {
  font-size: 9pt;
  fill: black;
}

text.title {
  font-size: 28pt;
  fill: #000;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

body {
	min-width: 1300px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);  Chrome10+,Safari5.1+
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

label {
	color: black !important;
}

#loading {
	opacity: 0.8;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10;
	background: url("ajax-loader.gif") no-repeat black 50%;
}

#help-upload {
	opacity: 0.9;
	height: 70%;
	width: 70%;
	position: fixed;
	z-index: 9;
	background-color: white;
	border:1px solid;
	left: 15%;
	top: 15%;
}

#clickMessage {
	float: right;
	margin-right: 30px;
}

.drop-down-upload {
	height:100px;
	width: 200px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	border:1px solid;
}

#bad-requests-part {
	width: 800px;
	color: black;
}

.margin-part {
	margin:20px;
}

#slots-label {
	margin-left: 21px;
}

.input-label {
	display:inline;
}

#upload-error {
	color:red;
}

.help {
	background-color:#599bb3;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:9px;
	padding:0px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.help:hover {
	background-color:#408c99;
}
.help:active {
	position:relative;
	top:1px;
}

#close-help-btn {
	background-color: #ffffff;
	color:#000000;
	cursor:pointer;
	font-family:arial;
	font-size:10px;
	padding:2px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	float: right;
}

#close-help-btn:hover {
	background-color: #eeeeee;
}

#messageDiv {
	overflow: auto;
	opacity: 0.9;
	height: 350px;
	width: 350px;
	position: fixed;
	z-index: 9;
	background-color: white;
	border:1px solid;
	left: 37%;
	top: 25%;
}

#closeMessage {
	margin-left: 320px; /*same as message div width-button width (rounded)*/
	background-color: #ffffff;
	color:#000000;
	cursor:pointer;
	position: fixed;
	font-family:arial;
	font-size:10px;
	padding:2px 8px;
	text-decoration:none;
}

#closeMessage:hover {
	background-color: #eeeeee;
}

#colorDiv {
	float:right;
	margin-right: 30px;
	margin-top: 50px;
}

.colorButton {
	display: block;
	margin-left: 10px;
	width: 150px !important;
	margin-top: 5px;
}

#colorLabelDiv {
	float:right;
	margin-top: 50px;
	width: 210px;
	height: 400px;
	overflow-y: auto;
}

#colorLabels {
	float: left;
}

#labels {
	display: block;
}

#uploadWrapper {
	min-height: 200px;
	width: 700px;
	border: 2px solid black;
}

#uploadWrapperTitle {
	width:80px;
	padding-left: 10px;
	padding-right: 5px;
	margin-top:-10px;
	margin-left:60px;
	color: black;
	background: linear-gradient(to bottom,  #bbbbbb 0%,#dddddd 100%);
}

.checkBoxLine {
	display: block;
}

#fileListItem {
	width: 550px;
	border: 1px solid black;
	margin-top: 5px;
	list-style: none;
	background: linear-gradient(to bottom,  #bbbbbb 0%,#dddddd 100%);
}

.smallButton {
	min-width: 15px;
	float: right;
	height: 17px !important;
	padding: 2px;
	margin: 1px;
	font-size:10px;
}

#fileDataTitle {
	margin: 5px;
	font-weight: bold;
}

.regularText {
	font-size: 12px;
}

.titleText {
	font-size: 15px;
}

.sublistText {
	font-size: 11px;
}
